form {
  padding: none;
  outline: none;

  input {
    line-height: 16px;
    margin: 10px 0;
    padding: 12px;
    width: 100%;
    border-radius: 5px;
    font-size: 20px;

    &:focus {
      outline: none;
    }
  }

  .btn {
    background-color: #274ae6;
    font-size: 18px;
    padding: 12px;
    color: white;
    text-transform: capitalize;
  }
}
